<div class="row">
  <div class="col-md-12">
      <h2 class="page-title">Accounts
        <small>
          <a class="btn btn-primary" href="#/add">
            <i class="fa fa-plus"> Add</i>
          </a>
        </small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <header>
        <h4>
          <i class="fa fa-list-ol"></i>
            List of your accounts
        </h4>
      </header>
      <div class="body">
        <table class="table table-striped table-images">
          <thead>
            <tr>
              <th>Name</th>
              <th>Balance</th>
              <th>Threshold</th>
              <th>Created</th>
              <th>Last transacion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="a in accounts">
              <td>
                <a href="#/details/{{ a._id }}">
                  {{ a.name }}
                </a>
              </td>
              <td>{{ a.balance|number }}</td>
              <td>{{ a.threshold }}</td>
              <td>{{ a.created|date }}</td>
              <td>{{ a.updated|date }}</td>
              <td>
                <button class="btn btn-sm btn-warning" data-toggle="button">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <ul class="pagination no-margin">
              <li class="disabled"><a href="#">Prev</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
